<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
    processIsolation="true">
    <testsuites>
        <testsuite name="PHPPokerAlho Test Suite">
            <directory
                suffix="Test.php"
                phpVersion="5.3.0"
                phpVersionOperator=">=">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/logs" lowUpperBound="50" highLowerBound="75" />
        <log type="coverage-text" target="build/logs/coverage.txt" showUncoveredFiles="true" />
        <log type="coverage-clover" target="build/logs/clover.xml" showUncoveredFiles="true" />
    </logging>
</phpunit>
